<div class="col-md-12">
    <div class="wrapper">
        <div class="row col-md-3 sidebar" data-color='red' data-image="">
            <app-sidebar></app-sidebar>
            <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
        </div>
        <div class="main-panel row col-md-9">
            <div class="navBar">
            <app-navbar></app-navbar>
            </div>
            <hr>
            <div class="col-md-12">
            <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>